@model User_Management.Models.UserDetails

<div>
    <strong>First Name:</strong> @Model.FirstName
</div>
<div>
    <strong>Last Name:</strong> @Model.LastName
</div>
<div>
    <strong>Date of Birth:</strong> @Model.DOB.ToShortDateString()
</div>
<div>
    <strong>Gender:</strong> @Model.Gender
</div>
<div>
    <strong>Email Address:</strong> @Model.EmailAddress
</div>
